export LANGCHAIN_API_KEY="Langchain-api-key"
export GOOGLE_API_KEY="Google-api-key"  
export LANGCHAIN_TRACING_V2="true/false"   #tracing required or not
export LANGCHAIN_ENDPOINT="Api-endpoint"   #endpoint for langsmith observability
export LANGCHAIN_PROJECT=" Chatbot-graph"
export OPENAI_API_KEY="OpenAi-api-key"